.cust-icon{
    height: 6.5rem;
    max-width: 7.5rem;
    padding: 0.5 rem;
}

.skl {
    padding: 0.5 rem;
    height: 6.5rem;
    max-width: 15rem;
}

.pand {
    padding: 0.5 rem;
    max-height: 10rem;
    max-width: 25rem;
}

