.cust-icon{
    height: 7rem;
    max-width: 7.5rem;
    padding: 2 rem;
}

.skl {
    padding: 2 rem;
    height: 7rem;
    max-width: 15rem;
}

.pand {
    padding: 2 rem;
    max-height: 10rem;
    max-width: 25rem;
}

